Repository nadevko/zhozhna: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": [ "eslint --fix", "prettier --write" ],
  "*.{css,scss,html}": [ "stylelint --fix", "prettier --write" ]
}

Fix typescript linting
  .eslintrc.json
  package.json
Due: none

Add tailwindcss support
  .stylelintrc.json
  package.json
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

Now prettier use standard style only for JS
  .editorconfig
  .prettierrc.js
  .prettierrc.json
Due: eslint --fix, prettier --write

Remove tailwindcss, LOL
  .stylelintrc.json
  config/webpack.config.js
  package.json
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

Create html/css navbar model
  .stylelintrc.json
  config/webpack.config.js
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/static/about.svg
  public/static/account.svg
  public/static/favicon-192.png
  public/static/favicon-32.png
  public/static/favicon-512.png
  public/static/favicon.ico
  public/static/favicon.svg
  public/static/logo-jojo.svg
  public/static/logo-zhozhna-colored.svg
  public/static/logo-zhozhna.svg
  public/static/search.svg
  public/static/talks.svg
  src/index.css
Due: eslint --fix, prettier --write, stylelint --fix

Change plans. Again
  public/index.html
  public/robots.txt
  src/index.css
Due: prettier --write, stylelint --fix

Eject
  config/env.js
  config/getHttpsConfig.js
  config/jest/babelTransform.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/webpack.config.js
  config/webpack/persistentCache/createEnvironmentHash.js
  config/webpackDevServer.config.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  src/react-app-env.d.ts
Due: eslint --fix, prettier --write

Initialize project using Create React App
  .gitignore
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

Rewrite .gitignore
  .gitignore
Due: none

Write cool readme
  .editorconfig
  LICENSE
  README.md
Due: none

Add eslint style check (standard)
  .eslintrc.json
  package.json
Due: none

Add precommit fix
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  scripts/build.js
  scripts/prepare.sh
  scripts/start.js
  scripts/test.js
Due: eslint --fix, prettier --write

Devide into pieces and expand package.json
  .babelrc.json
  .eslintrc.json
  jest.config.json
  package.json
Due: none

Add stylelint
  .lintstagedrc.json
  .stylelintrc.json
  package.json
Due: none

Add prettier
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  package.json
Due: none

Rewrite navbar to be reactive
  .stylelintrc.json
  config/paths.js
  config/webpack.config.js
  package.json
  src/App.css
  src/App.tsx
  src/assets/logo-zhozhna.svg
  src/components/Header/NavBtn.module.css
  src/components/Header/NavBtn.tsx
  src/components/Header/index.module.css
  src/components/Header/index.tsx
  src/index.css
  src/index.tsx
  src/reportWebVitals.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove eslint jsdoc checks for a while
  .eslintrc.json
  package.json
Due: none

Rewrite readme
  .editorconfig
  .prettierrc.js
  README.be.md
  README.md
  package.json
Due: eslint --fix, prettier --write

Add github pages autodeploy
  .editorconfig
  .github/workflows/gh-pages.yaml
  .gitignore
  README.be.md
  README.md
  package-lock.json
  package.json
Due: none

Separate search
  src/App.css
  src/components/Header/index.module.css
  src/components/Header/index.tsx
  src/components/NavBtn/index.module.css
  src/components/NavBtn/index.tsx
  src/components/Search/index.module.css
  src/components/Search/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Bigger NavBts's for touchscreens
  src/components/Header/index.module.css
  src/components/NavBtn/index.module.css
  src/components/Search/index.module.css
Due: prettier --write, stylelint --fix

Make all components restyleable
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/Header/index.module.css
  src/components/Header/index.tsx
  src/components/NavBtn/index.module.css
  src/components/NavBtn/index.tsx
  src/components/Search/NavBtn.module.css
  src/components/Search/index.module.css
  src/components/Search/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  asset-manifest.json
  index.html
  manifest.json
  robots.txt
  static/css/main.5f052b6c.css
  static/css/main.5f052b6c.css.map
  static/favicon-192.png
  static/favicon-32.png
  static/favicon-512.png
  static/favicon.ico
  static/favicon.svg
  static/js/787.fd888b0c.chunk.js
  static/js/787.fd888b0c.chunk.js.map
  static/js/main.8ea485ad.js
  static/js/main.8ea485ad.js.LICENSE.txt
  static/js/main.8ea485ad.js.map
  static/media/logo-zhozhna.cba99d05e18e9626f4be98479254c267.svg
Due: eslint --fix, prettier --write, stylelint --fix
